= f.input :reference, label: 'Référence'
= f.input :departure_location, label: 'Ville de départ'
= f.input :start_date, label: 'Date de départ'
= f.input :start_time, label: 'Heure de départ'
= f.input :arrival_location, label: 'Ville d\'arrivée'
= f.input :end_date, label: 'Date d\'arrivée'
= f.input :end_time, label: 'Heure d\'arrivée'
