// Define variables for your color scheme

// For example:
$red: #EE5F5B;

//green
$green: #05b27e;

//blue
$strong-blue: #533ef8;
$medium-blue: #00a0f9;
$light-blue: #05cafa;

$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$metal: #9E9C9D;
$khaki-green: #547462;
