// Define variables for your color scheme

// For example:
$red: #EE5F5B;

//khaki-green
$blue: #547462;

//purple
$purple-hard: rgba(158, 47, 92, 1.0);
$purple-medium: rgba(158, 47, 92, 0.8);
$purple-light: rgba(158, 47, 92, 0.4);

$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$metal: #9E9C9D;
$khaki-green: #547462;
