nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    div.nav.flex-column
      = link_to ('<i class="fa fas fa-users icon d-flex justify-content-between">Familles</i>').html_safe, families_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-user-circle icon d-flex justify-content-between">Clients</i>').html_safe, clients_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-user-circle icon d-flex justify-content-between">Prospects</i>').html_safe, child_details_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-plane icon d-flex justify-content-between">Voyages Groupes</i>').html_safe, travel_groups_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-handshake icon d-flex justify-content-between">Partenaires</i>').html_safe, partner_companies_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-info icon d-flex justify-content-between">Séjours</i>').html_safe,programs_path, class: 'item', remote: true
      = link_to ('<i class="fa fas fa-user-circle icon d-flex justify-content-between">Accompagnateurs</i>').html_safe, attendants_path, class: 'item', remote: true
      = link_to ('<u class="pl-4">Tous les séjours imminents</u>').html_safe, language_stays_path, remote: true, class: 'item'
