- client = @language_stay.client
- family = client.family

.right
  = "Mr ou Mme #{family.name}"
br
.right
  = "#{family.address_1}"
br
br
br
br
br
br
br
br
= "Versailles, le #{date_format(Date.today)},"
br
= "<b>OBJET : Attestation de séjour</b>".html_safe

br
= "Je soussigné(e); #{current_user&.first_name} #{current_user&.last_name&.upcase}, #{current_user&.job_description}, atteste que #{client.first_name.capitalize} #{client.last_name.upcase} est inscrit(e) / a effectué un séjour, #{@language_stay.program.name} - #{@language_stay&.city}, #{@language_stay&.country}, du #{week_day(@language_stay.start_date)} #{date_format(@language_stay.start_date)} au #{week_day(@language_stay.end_date)} #{date_format(@language_stay.end_date)}."
br
br
br
br
= "Détails du programme : #{@language_stay&.program_detail}"
br
= "Option 1 : #{@language_stay&.option_1}"
br
= "Option 2 : #{@language_stay&.option_2}"
br
= "Option 3 : #{@language_stay&.option_3}"
br
br
br
= "Pour faire valoir ce que de droit,"
br
br
br
br
= "#{current_user&.first_name} #{current_user&.last_name&.upcase}"
br
br
br
br
br
br
br
br
br
br
nr
nr
br
.center
  = "<b>Séjours HOME ABROAD</b>".html_safe
  br/
  = "59 avenue de Saint Cloud – 78000 VERSAILLES – Tél. (0)1.39.50.77.70 – Fax. (0)1.39.50.75.01"
  br/
  = "Email : <u>info@sejours-homeabroad.com</u> – Site internet: <u>www.sejours-homeabroad.com</u>".html_safe
  br/
  = "SARL au capital de 8 000 € - Numéro Immatriculation ATOUT France IM078100040"
  br/
  = "Organisme de Formation Professionnelle enregistré sous le N° 11 78 82186 78"
  br/
  = "Garantie financière APST PARIS – 15 Avenue Carnot 75017 PARIS"
  br/
  = "Garantie RCP HISCOX France – 19 rue Louis le Grand 75002 PARIS"
