p = "Cher(s) parent(s), cher(e) #{@child_detail&.first_name},"
p = "Nous vous avons fait parvenir il y a quelques temps des informations sur un projet de séjours à l'étranger."
p = "Nous nous tenons à votre disposition pour répondre à toutes vos questions à ce sujet."
p = "#{current_user.first_name} de l'équipe Home Abroad."
