/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 75px;
  text-align: center;
  color: white;
}
.alert-info {
  background-color: #5db858;
}
.alert-warning {
  background-color: #F7183E;
}
