.card-header {
	background-color: $medium-purple !important;
	color: white;
}

.card {
  height: 100%;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.edit-delete-links {
	text-align: right;
}

// card in modal

.card-modal {
  height: 200px;
  position: relative;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  p {
    color: black;
    opacity: 0.8;
    font-size: 14px;
  }
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-links {
 position: absolute;
 bottom: 10px;
 right: 10px;
 a:hover {
  text-decoration: none;
 }
}
