// top_navbar
.navbar {
  background-color: white;
  height: 8vh;
  a {
    color: $strong-purple;
    text-decoration: none;
  }
  a:hover {
    color: $strong-purple;
    opacity: 0.7;
  }
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

// left_navbar
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 30px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding:78px 0px 0;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  .item {
      & {
          padding: 20px;
      }
  }
}

#ol {
  border-bottom: 2px solid black;
}

.sidebar-sticky {
  padding-top: 50px;
  background-color: white;
  a {
    color: $strong-purple;
    height: 6vh;
    text-decoration: none !important
  }
  a:hover {
    color: white;
    background-color: $medium-purple;
  }
}

.icon {
  padding-left: 40px;
  margin-right: 20px;
}
