td > span > a  {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

thead > tr {
  color: $strong-purple;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
