.fa-plus-circle:before {
	padding-right: 10px;
}

.fa-spin:before {
	padding-right: 10px;
}

.page-wrapper {
	height: calc(100vh - 30px);
	margin-top: 50px;
}

h6 {
	font-weight: bold;
	color: $medium-purple !important;
}
